<h1>Edit Warehouse product</h1>
 
<%= form_with(model: @warehouse_product) do |form| %>
 
  <p>
    <%= form.label :extended_price %><br>
    <%= form.text_area :extended_price %>
  </p>
 
  <% if flash.any? %> 
  <% flash.each do |type, msg| %>
  <div>
   <%= msg %>
  </div>
  <% end %> 
  <% end %>
  <p>
    <%= form.submit %>
  </p>
  
<% end %>
<%= link_to 'Back', warehouse_products_path %>