<h1  class="text-primary"><center>Warehouse Products</center></h1>
<center><table class="table" ></center>
  <thead>
    <tr>
     <th>Product Name</th>
     <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>
   <% @warehouse_products.each do |warehouse_product| %>
      <td><% if warehouse_product.product_quantity != 0 %></td>
      <tr>
      <td class="text-success"><%= warehouse_product.product.name %></td>
      <td><%= warehouse_product.product_quantity %></td>
      <td><%= link_to 'Edit', edit_warehouse_product_path(warehouse_product) ,class: "btn btn-info"%></td>
      <td><%= button_to 'add_item',  add_item_shopkeeper_product_path(warehouse_product.product.id),class: "btn btn-warning" %></td>
      <% end %>
      <% end %>
      </tr>
  </tbody>
  <td><%= link_to 'Back', controller: 'dashboard' %></td>
</table>