 
<h1> supplier Product</h1>
<table>
  <tr>
    <th>product_quantity</th>
    
    <th colspan="3"></th>
  </tr>
 
  <% @supplier_products.each do |supplier_product| %>
    <tr>
      <td><%= supplier_product.supplier_id %></td>
      <td><%= supplier_product.product_id %></td>
      <td><%= supplier_product.product_quantity %></td>
       
    
    </tr>
  <% end %>
</table>

<h1>Supplier Products</h1>
<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Product</th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_products.each do |supplier_product| %>
      <tr>
        <td><%= supplier_product.supplier.name %></td>
        <td><%= supplier_product.product.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>